@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

body{
  color: rgb(6, 105, 116);
}

.car{
  color: rgb(247, 132, 56)
}
  
.speedometer-container {
  animation: glow 2s infinite alternate;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 1);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.blink {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
